

/*base*/

body{
  margin: 0;
  font: 14px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 46px;
    line-height: 40px;
    margin-bottom: 15px;
    margin-top: 25px;
}
h2 {
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 20px;
}
h3 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
}
h4 {
    font-size: 21px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
h5 {
    font-size: 17px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
h6 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

a.logo{
  padding: 7px;
  margin-right: 10px;
  font-size: 1.2em;
  float: left;
  font-weight: bold;
}

.container{
  margin: 0 auto;
  height: auto;
  overflow: auto;
}

.header{
  padding: 10px 0;
  overflow: auto;
}

.header h3{
  margin-top: 1px;
  margin-bottom: 0px;
}

.nav{
  display: inline;
  margin: 0;
  padding-left: 0;
}

.nav li{
  display: inline-block;
  margin-left: -5px;
  margin-bottom: 0;
  line-height: 18px;
}

.nav li a{
  display: inline-block;
  padding: 10px;
}

.header .nav{
  float: right;
}

.button {
    display: inline-block;
    *display: inline;
    /* zoom: 1; */
    /* line-height: normal; */
    /* white-space: nowrap; */
    /* vertical-align: baseline; */
    /* text-align: center; */
    /* cursor: pointer; */
    /* -webkit-user-drag: none; */
    /* -webkit-user-select: none; */
    /* -moz-user-select: none; */
    /* -ms-user-select: none; */
    /* user-select: none; */
}

.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.button {
    font-size: 100%;
    padding: .5em 1.5em;
    margin: 2px 0;
    color: #333;
    border: 1px solid #ccc;
    background-color: #eee;
    text-decoration: none;
    border-radius: 4px;
    background: #eee;
    background-image: -webkit-linear-gradient(top, rgba(255, 252, 255, 1) 0%, rgba(235, 235, 235, 1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 252, 255, 1) 0%, rgba(235, 235, 235, 1) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 252, 255, 1) 0%, rgba(235, 235, 235, 1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 252, 255, 1) 0%, rgba(235, 235, 235, 1) 100%);
    background-image: linear-gradient(top, rgba(255, 252, 255, 1) 0%, rgba(235, 235, 235, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
}

a.button, a.button:hover {
    color: #333;
}

.button:hover {
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1a000000', endColorstr='#2a000000', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, .05)), to(rgba(0, 0, 0, .1)));
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
}

.button:focus {
    outline: 0;
}

.button.active, .button:active {
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.5);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#11111111', endColorstr='#22222222', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, .2)));
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .1) 40%, rgba(0, 0, 0, .2));
    background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, .1) 40%, rgba(0, 0, 0, .2));
    background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, .1) 40%, rgba(0, 0, 0, .2));
    background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, .1) 40%, rgba(0, 0, 0, .2));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .1) 40%, rgba(0, 0, 0, .2));
}

.button[disabled], .button.disabled, .button.disabled:hover, .button.disabled:focus,
.button.disabled:active {
    border: 0;
    background-image: none;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    -khtml-opacity: .4;
    -moz-opacity: .4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: .4;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.button.hidden {
    display: none;
}

.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.button-big {
    width: 290px;
    height: 80px;
    padding-top: 23px;
    font-size: 25px;
}

.button-blue, .button-green, .button-red, .button-orange, .button-cyan,
a.button-blue, a.button-green, a.button-red, a.button-orange, a.button-cyan {
    color: #fff;
}

.button-blue:hover, .button-green:hover, .button-red:hover, .button-orange:hover,
.button-cyan:hover, a.button-blue:hover, a.button-green:hover, a.button-red:hover,
a.button-orange:hover, a.button-cyan:hover {
    color: white;
}

.button-blue {
    background: #3366bb;
    /* this is a blue */
    border-color: #33589f;
    /* this is a blue */
}

.button-green {
    background: #20ae32;
    /* this is a green */
    border-color: #1d9322;
    /* this is a green */
}

.button-red {
    background: #bb262e;
    /* this is a maroon */
    border-color: #a01221;
    /* this is a maroon */
}

.button-orange {
    background: #d56011;
    /* this is an orange */
    border-color: #b4420e;
    /* this is an orange */
}

.button-cyan {
    background: #41b8dd;
    /* this is a light blue */
    border-color: #339dc5;
    /* this is a light blue */
}


form {
    margin-bottom: 20px;
}

fieldset {
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="email"],
input[type="search"], textarea, select {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    border-radius: 4px;
    font: 14px"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    max-width: 210px;
    width: 100%;
    height: 22px;
    display: block;
    margin-bottom: 10px;
    background: #fff;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="search"] {
    padding: 5px 14px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

select {
    padding: 0;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus,
input[type="search"]:focus, textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
}

textarea {
    min-height: 60px;
    margin-top: 10px;
}

label, legend {
    display: block;
    font-weight: bold;
    font-size: 14px;
}

input[type="checkbox"] {
    display: inline;
}

label input:first-child, legend input:first-child {
    margin-right: 5px;
}

label span, legend span {
    font-weight: normal;
    font-size: 14px;
    color: #444;
    vertical-align: middle;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

input[type="radio"] {
    margin: 3px 0.5ex;
}

label, select, button, input[type="button"], input[type="reset"],
input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}

label {
    margin-bottom: 5px;
}

.center{
  text-align: center;
}
