/*main*/

body{
  font-size: 15px;
  font-weight: 300;
  color: #004D39;
  background-color: rgba(240, 255, 249, 1);
}

#canvas{
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.header{
  z-index:  1;
  background-color: #2ca78e;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
  margin-bottom: 2px;
}

.header a{
  color: #fff;
}

.header .nav a{
  border-radius: 5px;
  margin-right: 3px;
}

.header .nav a:hover, .header .nav li.active a{
  color: #004D39;
  background-color: #fff;
}

.header .logo{
  margin-left:10px;
}

.container{
  width: 800px;
}

.content .container{
  padding: 10px;
  background-color: rgb(240, 255, 249);
  background-color: rgba(240, 255, 249, 0.9);
}

.content a{
  color: #07A77A;
}

.content a.button{
  color: #fff;
}

.content h1{
  margin-top: 10px;
}

.content h2{
  margin-bottom: 35px;
}

.content h4{
  margin-bottom: 15px;
  margin-top: 20px;
}

.content .description{
  margin-bottom: 25px;
}

.features .column{
  display: inline-block;
  margin: 0;
}

.demos{
  text-align: center;
}

.demos h4{
  text-align: left;
}

.demo{
  display: inline-block;
  width: 160px;
  height: 150px;
  margin: 5px;
  padding: 10px;
  padding-top: 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: inset 0 0 3px #ddd;
  text-align: center;
}

.demo:hover{
  background-color: #98EACE;
}

.demo h6{
  margin: 3px;
  color: #000;
}

.demo img{
  width: 100%;
  height: 115px;
  border-radius: 3px;
}

#start{
  padding-top: 10px;
}

/* Documentation page */
hr{
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
  background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
  background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
  background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);   
}

body.docs{
  margin-top: 70px;
}

body.docs .header{
  position: fixed;
  top: 0;
  width: 100%;
}

.docs .content{
  margin: 20px auto;
  max-width: 1200px;
  position: relative;
}

.docs .sidebar{
  position: fixed;
  float: left;
  width: 155px;
  display: inline-block;
  overflow: auto;
  height: 85%;
  margin-top: 5px;
}

.docs .main{
  position: relative;
  left: 165px;
  margin-right: 154px;
  /*margin-top: 35px;*/
  /*float: left;*/
  overflow-y: auto;
  /*display: inline-block;*/
}

.docs .sidebar h4{
  margin-bottom: 0px;
}

.docs .sidebar ul{
  list-style: none;
  padding: 5px;
  margin: 0;
}

.docs .sidebar h5{
  color: #444;
}

.docs .anchor{
  position: absolute;
  margin-top: -135px;
}

.docs .sidebar a{
  color: #004D39;
}

.docs .sidebar a:hover{
  text-decoration: underline;
}

.docs .subsection{
  margin-left: 15px;
}

.docs .subsection .subsection{
  margin-left: 10px;
}

.docs .subsection .subsection .subsection{
  margin-left: 5px;
}

.docs .section > .subsection{
  margin-left: 10px;
}

.docs .section > .subsection > h4{
  margin-top: 35px;
}

.docs .subsection{
  margin-left: 5px;
}

.docs pre{
  margin-right: 10px;
}

pre h5{
  margin-bottom: 0px;
}

@media all and (max-width: 800px){
  .header h5, .header h3{
    font-size: 1em;
  }

  .container{
    width: 100%;
  }
}

@media all and (max-width: 650px){
  
  .docs .sidebar, .docs .main{
    display: block;
    width: 100%;
    left: 0;
    margin-right: 0;
    float: none;
    margin: 0px;
    position: relative;
  }
}

@media all and (max-width: 400px){

  .header h5, .header h3{
    font-size: 0.7em;
  }
  
  body{
    font-size: 0.9em;
  }

}

@media all and (max-height: 600px){
  
  .docs .sidebar{
    height: 83%;
  }
}

@media all and (max-height: 500px){
  
  .docs .sidebar{
    height: 70%;
  }
}

@media all and (max-height: 400px){
  
  .docs .sidebar{
    height: 50%;
  }
}
